.total{
    display:flex
}

.contenue{
    margin-left:24px;
}

header{
    background-color: rgb(61, 70, 192);
    border:5px solid black;
    display:flex;
    position: fixed;
    width: 100%;

    
}

.darkheader{
    background-color: rgb(20, 23, 75);
    border:5px solid black;
    display:flex;
    position: fixed;
    width: 100%;
    transition:ease-in 2s;


}
.barre{
    background-color: rgb(61, 70, 192);
    border-left:5px solid black;
    border-bottom:5px solid black;
    border-right:5px solid black;
    position: fixed;
    height: 100%;
}
.darkbarre{
    background-color: rgb(20, 23, 75);
    border-left:5px solid black;
    border-bottom:5px solid black;
    border-right:5px solid black;
    position: fixed;
    height: 100%;
    transition:ease-in 2S;

}

#raretée_commun{
    background-color: aquamarine;
}

body{
    background-image:url("league_fond.png");
    background-attachment: fixed;
}

.darkbody{
    background-image:url("darkleague_fond.png");
    background-attachment: fixed;
    transition:ease-in 2S;
}

form{
    margin-top: 200px;
    margin-left: 40%;
    border: 5px solid orange;
    max-width: 20%;
    background-color:rgb(163, 234, 255);
}

.faux{
    background-color: red;
}

.vrais{
    border: 1px solid rgb(81,150,2);
    background-color: rgba(113,212,0,0.4);
}


.demande_nom{
background-color: rgb(61, 70, 192);
}
.demande_prenon{
    margin-left: 20px;
    max-width: 30%;
    padding-right: 50%;
}
#name { 
    margin-left: 20px;
    max-width: 70%;
}

.demande_email{
    background-color: rgb(61, 70, 192);
}
.email_demande{
    margin-left: 20px;
    max-width: 30%;
    padding-right: 50%;
}
#email{ 
    margin-left: 20px;
}


.demande_mdp{
    background-color: rgb(61, 70, 192);
}
.demande_mot_de_passe{
    margin-left: 20px;
    max-width: 30%;
    padding-right: 50%;
}
#MDP{ 
    margin-left: 20px;
}

.demande_mdp_comfirmation2{
    background-color: rgb(61, 70, 192);
}
.demande_mot_de_passe2{
    margin-left: 20px;
    max-width: 30%;

}
#MDP2{ 
    margin-left: 20px;
}

.trie_raretée{
    color:gold;
    text-align: center;
    border-bottom:5px solid black
}

.raretée{
    text-align:center;
    margin-top: 150px;
    margin-left: 25%;
}

.image_raretee{
    display:block;
    margin-top: 80px;
}

.décalage{
    margin-left:100px;
    display:flex
}

.texte_bas{
    display: flex;
    font-family:Agency FB;
    
}

.parragraphe1{
    background-color: blue;
    max-width: 400px;
    font-size : 24px;
    background-color: rgb(163, 234, 255);
    border:5px solid orange;
    padding:30px;
    border-radius: 30px;
}

.darkparragraphe1{
    background-color: blue;
    max-width: 400px;
    font-size : 24px;
    background-color: rgb(100, 141, 153);
    border:5px solid rgb(150, 97, 0);
    padding:30px;
    border-radius: 30px;
    transition:ease-in 2s;
}

.parragraphe2{
    background-color:blue ;
    max-width: 500px;
    font-size: 24px;
    background-color: rgb(163, 234, 255);
    border:5px solid orange;
    padding:30px;
    border-radius: 30px;
}

.darkparragraphe2{
    background-color:blue ;
    max-width: 500px;
    font-size: 24px;
    background-color: rgb(100, 141, 153);
    border:5px solid rgb(150, 97, 0);
    padding:30px;
    border-radius: 30px;
    transition:ease-in 2s;
}

.texte_bas2{
    margin-left: 200px;
}

.navactuel{
    color:coral
}

.toutenav{
    display:flex; 
}

a{
    font-size: 34px;
    margin-left:150px;
    font-family:Old English Text MT;
    color:gold
}

.important{
    font-size:32px;
    color:crimson;
    font-family:Old English Text MT
}

.information{
    font-family:Old English Text MT;
    font-size:32px;
    color:gold;
    border-top:5px solid orange;
    border-left:5px solid orange;
    border-right:5px solid orange;
    border-radius: 30px;
    margin-left: 50px;
    margin-bottom:-5px;
    max-width: 110px;
    padding-left:7px;
    padding-right:3px;
}

.textinfo{
    font-family:Old English Text MT;
    font-size:18px;
    max-width: 1000px;
    background-color: rgb(163, 234, 255);
    border:5px solid orange;
    padding:30px;
    border-radius: 30px;
    
}

.darktextinfo{
    font-family:Old English Text MT;
    font-size:18px;
    max-width: 1000px;
    background-color: rgb(100, 141, 153);
    border:5px solid rgb(150, 97, 0);
    padding:30px;
    border-radius: 30px;
    transition:ease-in 2s;
}

.information_titre{
    margin-top:100px;
    margin-left:140px;
    font-family:Old English Text MT;
    font-size:32px;
    color:gold;
    border-top:5px solid orange;
    border-left:5px solid orange;
    border-right:5px solid orange;
    border-radius: 30px;
    margin-bottom:-5px;
    max-width: 160px;
    padding-left:7px;
    padding-right:5px;
}

.league{
    font-family:Old English Text MT;
    color:coral;
}


.seconde_ligne{
    display:flex;
    margin-left:100px;   
}

.image_aurora{
    margin-left:100px;
    border:5px solid orange;
}

.nocturne{
    margin-left: 100px;
}

.ensemble_des_titres{
    display:flex;
}

.information2{
    font-family:Old English Text MT;
    font-size:32px;
    color:gold;
    border-top:5px solid orange;
    border-left:5px solid orange;
    border-right:5px solid orange;
    border-radius: 30px;
    margin-bottom:-5px;
    max-width: 220px;
    padding-left:7px;
    padding-right:5px;
    margin-left: 30px;
}

footer{
    color:gold;
    background-color: rgb(61, 70, 192);
    border: 5px solid black;
    margin-left: 100px;

}

 @media screen and (max-width: 800px){
    .parragraphe1{
        max-width: 50%;
        font-size: 16px;
    }
    .parragraphe2{
        max-width: 60%;
        font-size: 16px;
    }

    .barre{
        max-width: 10%;
    }

 }